body{
font-family: Arial;
font-size: 18px;
} 

h1{
background-color: #6495ed;
text-align: center;
}

#div1{
background-color: red;
height: 200px;
width: 200px;
position: relative;
-webkit-animation: primeraAnimacion 7s linear 2s infinite alternate;
animation: primeraAnimacion 7s linear 2s infinite alternate;
}

@-webkit-keyframes primeraAnimacion{
0%{background-color: red; left:0px;  top: 0px;}
25%{background-color: yellow; left:200px;  top: 0px;}
50%{background-color: blue; left:200px;  top: 200px;}
75%{background-color: purple; left:0px;  top: 200px;}
100%{background-color: green; left:0px;  top: 0px;}
}

